body{
    background-color: lightblue;
    text-align: center;
}

h1{
    color: blue;
}

label{
    font-size: larger;
    font-weight: bold;
    color: blue;
}

input{
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

button{
    padding: 10px 30px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin-top: 10px;
}

li{
    list-style: none;
    font-size: larger;
    padding: 10px;
}